doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/style-game.css')
  title Codenames

p
  | Ecran de jeu de : 
  span#player-name #{sessionUsername}

div#container-menu
  div#left
    div#turns
    div#active-player
    div#active-spymaster
    div#spymaster-input
      label(for='clue') Indice: 
      input#clue(type='text', name='clue', value='', required='')
      label(for='nbr-words') Nombre de Noms de Code concernés: 
      input#nbr-words(type='text', name='nbr-words', value='', required='')
    div#guesser-display
    div
      input#btn-plyr1(type='submit', value='Soumettre indice')
    div
      input#btn-plyr2(type='submit', value='Valider tour')
    div
      input#next-turn(type='submit', value='Tour suivant')
      
  div#right
    input#quitgame(type='submit', value='Quitter la partie')

hr
div
  .remaining-indicator.blue-indicator
    | Joueur 1: 
    span#player1-span
    br
    | Mots bleus restants: 
    #blueRemaining
  .remaining-indicator.red-indicator
    | Joueur 2: 
    span#player2-span
    br
    | Mots rouges restants: 
    #redRemaining
hr
#wordList

h1 Règle du jeu 
p Il s'agit d'un mode coopératif de Codenames jouable à deux: vous devez retrouver tous vos Noms de Code avant la fin du temps imparti. Pour cela, vous devez, tour à tour, deviner ou faire deviner les Noms de Code en donnant le meilleur indice possible. 
p Pour cela, chacun à votre tour, vous donnez un indice pouvant désigner plusieurs Noms de Code de la couleur de votre partenaire sur le plateau. Votre partenaire, quant à lui, tente de deviner ses Noms de Code tout en évitant de rencontrer l’un des terribles Assassins qui vous font perdre la partie.
p Trouvez l’ensemble des 16 Noms de Code avant la fin des 9 tours pour remporter la victoire. Sinon, le joueur finissant avec le plus petit nombre de cartes de sa propre couleur remporte la partie.

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(async, defer, src='/game.js')